# Copyright (c) 2025 Xiaomi Corporation
# SPDX-License-Identifier: Apache-2.0

config RUST_CRATE_STD_CELL
	tristate "\"Std Cell\" example"
	default n

if RUST_CRATE_STD_CELL

config RUST_CRATE_STD_CELL_PRIORITY
	int "Std Cell task priority"
	default 100

config RUST_CRATE_STD_CELL_STACKSIZE
	int "Std Cell stack size"
	default DEFAULT_TASK_STACKSIZE

endif
