# Copyright (c) 2025 Xiaomi Corporation
# SPDX-License-Identifier: Apache-2.0

config RUST_CRATE_MEMCHR
	tristate "\"Crate Memchr\" example"
	default n

if RUST_CRATE_MEMCHR

config RUST_CRATE_MEMCHR_PRIORITY
	int "Memchr task priority"
	default 100

config RUST_CRATE_MEMCHR_STACKSIZE
	int "Memchr stack size"
	default DEFAULT_TASK_STACKSIZE

endif
