# Copyright (c) 2025 Xiaomi Corporation
# SPDX-License-Identifier: Apache-2.0

config RUST_CRATE_BYTEORDER
	tristate "Crate Byteorder"
	default n

if RUST_CRATE_BYTEORDER

config RUST_CRATE_BYTEORDER_PRIORITY
	int "Crate Byteorder task priority"
	default 100

config RUST_CRATE_BYTEORDER_STACKSIZE
	int "Crate Byteorder stack size"
	default DEFAULT_TASK_STACKSIZE

endif
