# Copyright (c) 2025 Xiaomi Corporation
# SPDX-License-Identifier: Apache-2.0

config RUST_CRATE_STRSIM
	tristate "\"Crate Strsim\" example"
	default n

if RUST_CRATE_STRSIM

config RUST_CRATE_STRSIM_PRIORITY
	int "Strsim task priority"
	default 100

config RUST_CRATE_STRSIM_STACKSIZE
	int "Strsim stack size"
	default DEFAULT_TASK_STACKSIZE

endif
