# Copyright (c) 2025 Xiaomi Corporation
# SPDX-License-Identifier: Apache-2.0

config RUST_CRATES_CORE_PRINTLN
	tristate "\"Core Println\" example"
	default n
	---help---
		Enable the Core Println example application.
		This demonstrates core library's format macro functionality without std.

if RUST_CRATES_CORE_PRINTLN

config RUST_CRATES_CORE_PRINTLN_PRIORITY
	int "Core println task priority"
	default 100

config RUST_CRATES_CORE_PRINTLN_STACKSIZE
	int "Core println stack size"
	default 8192
	---help---
		Stack size to be used.

endif
