# Copyright (c) 2025 Xiaomi Corporation
# SPDX-License-Identifier: Apache-2.0

config RUST_CRATE_CORE_PRINTLN
	tristate "Core Println"
	default n

if RUST_CRATE_CORE_PRINTLN

config RUST_CRATE_CORE_PRINTLN_PRIORITY
	int "Core Println task priority"
	default 100

config RUST_CRATE_CORE_PRINTLN_STACKSIZE
	int "Core Println stack size"
	default DEFAULT_TASK_STACKSIZE

endif
