# Copyright (c) 2025 Xiaomi Corporation
# SPDX-License-Identifier: Apache-2.0

config RUST_CRATE_STD_ONCE
	tristate "\"Std Once\" example"
	default n

if RUST_CRATE_STD_ONCE

config RUST_CRATE_STD_ONCE_PRIORITY
	int "Std Once task priority"
	default 100

config RUST_CRATE_STD_ONCE_STACKSIZE
	int "Std Once stack size"
	default DEFAULT_TASK_STACKSIZE

endif
