# Copyright (c) 2025 Xiaomi Corporation
# SPDX-License-Identifier: Apache-2.0

config RUST_CRATE_ITOA
	tristate "Crate Itoa"
	default n

if RUST_CRATE_ITOA

config RUST_CRATE_ITOA_PRIORITY
	int "Crate Itoa task priority"
	default 100

config RUST_CRATE_ITOA_STACKSIZE
	int "Crate Itoa stack size"
	default DEFAULT_TASK_STACKSIZE

endif
