# Copyright (c) 2025 Xiaomi Corporation
# SPDX-License-Identifier: Apache-2.0

config RUST_CRATE_INDEXMAP
	tristate "Crate Indexmap"
	default n

if RUST_CRATE_INDEXMAP

config RUST_CRATE_INDEXMAP_PRIORITY
	int "Crate Indexmap task priority"
	default 100

config RUST_CRATE_INDEXMAP_STACKSIZE
	int "Crate Indexmap stack size"
	default DEFAULT_TASK_STACKSIZE

endif
