# Copyright (c) 2025 Xiaomi Corporation
# SPDX-License-Identifier: Apache-2.0

config RUST_CRATE_VERSION_CHECK
	tristate "Crate Version Check"
	default n

if RUST_CRATE_VERSION_CHECK

config RUST_CRATE_VERSION_CHECK_PRIORITY
	int "Crate Version Check task priority"
	default 100

config RUST_CRATE_VERSION_CHECK_STACKSIZE
	int "Crate Version Check stack size"
	default DEFAULT_TASK_STACKSIZE

endif
