# Copyright (c) 2025 Xiaomi Corporation
# SPDX-License-Identifier: Apache-2.0

config RUST_CRATE_BYTES
	tristate "Crate Bytes"
	default n

if RUST_CRATE_BYTES

config RUST_CRATE_BYTES_PRIORITY
	int "Crate Bytes task priority"
	default 100

config RUST_CRATE_BYTES_STACKSIZE
	int "Crate Bytes stack size"
	default DEFAULT_TASK_STACKSIZE

endif
