# Copyright (c) 2025 Xiaomi Corporation
# SPDX-License-Identifier: Apache-2.0

config RUST_CRATE_ITERTOOLS
	tristate "Crate Itertools"
	default n

if RUST_CRATE_ITERTOOLS

config RUST_CRATE_ITERTOOLS_PRIORITY
	int "Crate Itertools task priority"
	default 100

config RUST_CRATE_ITERTOOLS_STACKSIZE
	int "Crate Itertools stack size"
	default DEFAULT_TASK_STACKSIZE

endif
