# Copyright (c) 2025 Xiaomi Corporation
# SPDX-License-Identifier: Apache-2.0

config RUST_CRATE_SERDE_JSON
	tristate "Crate Serde Json"
	default n

if RUST_CRATE_SERDE_JSON

config RUST_CRATE_SERDE_JSON_PRIORITY
	int "Crate Serde Json task priority"
	default 100

config RUST_CRATE_SERDE_JSON_STACKSIZE
	int "Crate Serde Json stack size"
	default DEFAULT_TASK_STACKSIZE

endif
