# Copyright (c) 2025 Xiaomi Corporation
# SPDX-License-Identifier: Apache-2.0

config RUST_CRATE_LAZY_STATIC
	tristate "Crate Lazy Static"
	default n

if RUST_CRATE_LAZY_STATIC

config RUST_CRATE_LAZY_STATIC_PRIORITY
	int "Crate Lazy Static task priority"
	default 100

config RUST_CRATE_LAZY_STATIC_STACKSIZE
	int "Crate Lazy Static stack size"
	default DEFAULT_TASK_STACKSIZE

endif
