# Copyright (c) 2025 Xiaomi Corporation
# SPDX-License-Identifier: Apache-2.0

config RUST_CRATES_LAZY_STATIC
	tristate "\"Rust Lazy Static\" example"
	default n
	---help---
		Enable the \"Rust Lazy Static\" example application.

if RUST_CRATES_LAZY_STATIC

config RUST_CRATES_LAZY_STATIC_PRIORITY
	int "Lazy Static task priority"
	default 100

config RUST_CRATES_LAZY_STATIC_STACKSIZE
	int "Lazy Static stack size"
	default DEFAULT_TASK_STACKSIZE
	---help---
		Stack size to be used.

endif
