# Copyright (c) 2025 Xiaomi Corporation
# SPDX-License-Identifier: Apache-2.0

config RUST_CRATE_STD_THREAD
	tristate "\"Std Thread\" example"
	default n

if RUST_CRATE_STD_THREAD

config RUST_CRATE_STD_THREAD_PRIORITY
	int "Std Thread task priority"
	default 100

config RUST_CRATE_STD_THREAD_STACKSIZE
	int "Std Thread stack size"
	default DEFAULT_TASK_STACKSIZE

endif
