# Copyright (c) 2025 Xiaomi Corporation
# SPDX-License-Identifier: Apache-2.0

config RUST_CRATE_ONCE_CELL
	tristate "Crate Once Cell"
	default n

if RUST_CRATE_ONCE_CELL

config RUST_CRATE_ONCE_CELL_PRIORITY
	int "Crate Once Cell task priority"
	default 100

config RUST_CRATE_ONCE_CELL_STACKSIZE
	int "Crate Once Cell stack size"
	default DEFAULT_TASK_STACKSIZE

endif
