# Copyright (c) 2025 Xiaomi Corporation
# SPDX-License-Identifier: Apache-2.0

config RUST_CRATE_TOKIO
	tristate "Crate Tokio"
	default n

if RUST_CRATE_TOKIO

config RUST_CRATE_TOKIO_PRIORITY
	int "Crate Tokio task priority"
	default 100

config RUST_CRATE_TOKIO_STACKSIZE
	int "Crate Tokio stack size"
	default DEFAULT_TASK_STACKSIZE

endif
